:root{
  --navy: #003049;
  --light-blue: #669bbc;
  --warm: #e63946;
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../public/images/color-spot.png);
  background-repeat: no-repeat;
  background-position: right 75%;
  background-size: 30%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--navy)
}

a:hover {
  color: var(--navy)
}

.wrapper {
  height:100vh
}

.warm-color {
  color: var(--warm)
}

.navy {
  color: var(--navy)
}

h4, h5 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

/* Footer */
.footer {
  height: 60px;
  box-shadow: 1px -3px 3px 0px var(--navy);
  margin-top: auto;
  background-color: white;
  padding: 20px 20px; 
}

/* NavBar */
nav {
  height: 100px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 3px var(--navy);
  padding: 15px 15px;
}

nav > img {
  max-height: 90px;
  margin-right: 10px;
}

.nav--title {
  margin-right: auto;
  color: var(--navy);
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-weight: bold
}

a.nav-link {
  margin: 5px;
  color: var(--navy);
}

a.nav-link:hover {
  color: var(--warm);
  font-weight: bold;
}

a.nav-link.active {
	color: var(--warm) !important
}

.nav--title > small {
  font-size: 16px;
}

.nav---list > a:hover {
  color: var(--warm);
  font-weight: bold
}

/* Hamburger */
.hamburger {
  width: 100%;
  display: flex;
}

button.hamburger-btn {
  position: absolute;
  right: 1%;
  top: 20px;
  height: 60px;
  width: 60px;
  font-size: 35px;
}

.hamburger-list {
  cursor: pointer;
  background-color: white;
  padding: 0 50px;
  width: 100%;
  box-shadow: 0 3px 3px var(--navy)
}

li.hamburger-links {
  cursor: pointer;
}

.hamb-link:hover {
  color: var(--light-blue);
  font-weight: bold;
}

/* About Me */
.about {
  align-items: center;
}

.about--picture {
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
  margin-right: 0;
  padding-right: 0;
}

/* Projects */
.card {
  width: 25rem
}

.image-area {
  background-color: var(--navy);
  width: fit-content;
  height: 300px;
  display: flex;
  align-items: center;
}

.project--img {
  max-height: 300px;
  width: 100%;
}

.link-dark {
  color:var(--navy);
  text-decoration: none;
}

.light-blue {
  color: var(--light-blue);
}

/* Contact  */
input textarea {
  display: block;
  width: 100%;
}

button {
  background-color: var(--light-blue);
  color: var(--navy);
  border: none;
  font-weight: bold;
  border-radius: 5px
}

button:hover {
  color: white;
  transform: scale(1.05);
}

.contact--area {
  background-color: white;
}

/* Media Queries Medium Screens*/
@media screen and (max-width: 992px) {
  
.nav--title {
  font-size: 20px;
}

}

/* Media Queries Small Screens*/
@media screen and (max-width: 644px) {
  
  .nav--title {
    font-size: 16px;
  }

  .nav--title > small{
    font-size: 14px;
  }
  
  }