footer {
    height: 60px;
    align-items: center;
    box-shadow: 3px 0 3px var(--navy);
    padding: 15px 20px;
    /* bottom: 0; */
    width: 100%;
    margin-top: auto;
}

.footer--link {
    margin: 20px;
}