.card {
    width: 25rem
}

.image-area {
    background-color: var(--navy);
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
}

.project--img {
    max-height: 300px;
}