:root{
  --navy: #003049;
  --light-blue: #669bbc;
  --warm: #e63946;
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

